# Week 4: Independent Project

# Loading of files and libraries

In [0]:
# Task
# importing libraries that we will use in the project
#

import csv
import numpy as np
import pandas as pd

In [2]:
# Task
# loading the autolib dataframe
# and previewing the first 5 rows

autolib_df = pd.read_csv('http://bit.ly/Autolibdataset')
autolib_df.head(5)

   Unnamed: 0                     Address  Cars  ...  day  hour  minute
0           0              24 Rue Vulpian     3  ...    1     0       0
1           1  8 Boulevard Richard Lenoir     0  ...    1     0       0
2           2        4 Rue Charles Bossut     3  ...    1     0       0
3           3   3 avenue Claude Vellefaux     4  ...    1     0       0
4           4      236 Boulevard Voltaire     1  ...    1     0       0

[5 rows x 26 columns]

In [3]:
# Task
# checking the shape of a dataframe
autolib_df.shape

(14421829, 26)

# Data Understanding

In [3]:
# Task
# Accessing information about our dataset
#
autolib_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14421829 entries, 0 to 14421828
Data columns (total 26 columns):
Unnamed: 0             int64
Address                object
Cars                   int64
Bluecar counter        int64
Utilib counter         int64
Utilib 1.4 counter     int64
Charge Slots           int64
Charging Status        object
City                   object
Displayed comment      object
ID                     object
Kind                   object
Geo point              object
Postal code            int64
Public name            object
Rental status          object
Scheduled at           object
Slots                  int64
Station type           object
Status                 object
Subscription status    object
year                   int64
month                  int64
day                    int64
hour                   int64
minute                 int64
dtypes: int64(13), object(13)
memory usage: 2.8+ GB

In [4]:
# Task
# Checking the various types of charging status available
#
print(autolib_df['Charging Status'].unique())

['operational' 'nonexistent' 'broken']

In [5]:
# Task
# Checking the various types of rental status available
#
print(autolib_df['Rental status'].unique())

['operational' 'broken' 'future' 'nonexistent']

In [6]:
# Task
# Checking the various kinds of car lots present
#
print(autolib_df['Kind'].unique())

['STATION' 'SPACE' 'PARKING' 'CENTER']

In [7]:
# Task
# Checking the various Station types present
#
print(autolib_df['Station type'].unique())

['station' 'full_station' 'subs_center']

# Data Preparation

In [3]:
# Task
# We shall drop duplicates that are present
#
autolib_df = autolib_df.drop_duplicates()
print(autolib_df)

          Unnamed: 0                                    Address  ...  hour  minute
0                  0                             24 Rue Vulpian  ...     0       0
1                  1                 8 Boulevard Richard Lenoir  ...     0       0
2                  2                       4 Rue Charles Bossut  ...     0       0
3                  3                  3 avenue Claude Vellefaux  ...     0       0
4                  4                     236 Boulevard Voltaire  ...     0       0
5                  5               44 Rue des Pirogues de Bercy  ...     0       0
6                  6                63 Boulevard Richard Lenoir  ...     0       0
7                  7                          43 Rue de Monceau  ...     0       0
8                  8         10 Avenue du Docteur Arnold Netter  ...     0       0
9                  9             33 Avenue Pierre 1er de Serbie  ...     0       0
10                10                   2 Rue Houdart de Lamotte  ...     0       0
11                11          238 Rue du Faubourg Saint-Antoine  ...     0       0
12                12                         23 Quai aux Fleurs  ...     0       0
13                13                      54 Rue David d'Angers  ...     0       0
14                14                          46 rue de Turenne  ...     0       0
15                15                        142 Rue de Bagnolet  ...     0       0
16                16             91 rue du Faubourg Saint-Denis  ...     0       0
17                17                           336 Rue Lecourbe  ...     0       0
18                18                   16 place des Ãtats-Unis  ...     0       0
19                19                               99 Rue Monge  ...     0       0
20                20                45 Avenue de la Bourdonnais  ...     0       0
21                21                              42 Rue du Bac  ...     0       0
22                22                     42 avenue de Friedland  ...     0       0
23                23                         143 Rue La Fayette  ...     0       0
24                24                     182 Boulevard Voltaire  ...     0       0
25                25                   2 Rue Fabre d'Ãglantine  ...     0       0
26                26                      4 Avenue Jean JaurÃ¨s  ...     0       0
27                27                     30 Quai de Dion Bouton  ...     0       0
28                28                    183 Rue des Renouillers  ...     0       0
29                29                        5 Place du Commerce  ...     0       0
...              ...                                        ...  ...   ...     ...
14421785        1089                              42 rue Brunel  ...    23      59
14421786        1090                  61 rue Pierre Brossolette  ...    23      59
14421787        1091                     30 rue Marcel Bontemps  ...    23      59
14421788        1092                    77 rue Edouard Vaillant  ...    23      59
14421789        1093                            1 rue de Sevran  ...    23      59
14421790        1094                             14 rue Censier  ...    23      59
14421791        1095                             9 rue Lobineau  ...    23      59
14421792        1096                            29 rue GalilÃ©e  ...    23      59
14421793        1097                        1 rue de YÃ©limanÃ©  ...    23      59
14421794        1098            15 place du GÃ©nÃ©ral de Gaulle  ...    23      59
14421795        1099                     53 rue du Bois l'AbbÃ©  ...    23      59
14421796        1100                            18 rue Franklin  ...    23      59
14421797        1101                 4 Chemin des petits marais  ...    23      59
14421798        1102                      93 avenue Victor Hugo  ...    23      59
14421799        1103  106 avenue du Vieux Chemin de Saint-Denis  ...    23      59
14421800        1104                              4 rue Valiton  ...    23      59
14421801        1105                          53 Boulevard Foch  ...    23      59
14421802        1106                               5 rue Vauban  ...    23      59
14421803        1107                68 rue de la Bonne Aventure  ...    23      59
14421804        1108            1 avenue du GÃ©nÃ©ral de Gaulle  ...    23      59
14421805        1109                 4 boulevard Anatole France  ...    23      59
14421806        1110                  2 avenue Georges Pompidou  ...    23      59
14421807        1111                         12 avenue Rabelais  ...    23      59
14421808        1112                    1 rue de la LibÃ©ration  ...    23      59
14421809        1113                    282 avenue d'Argenteuil  ...    23      59
14421810        1114              21 rue de l'Ecole de Medecine  ...    23      59
14421811        1115         6 avenue de la Porte de Champerret  ...    23      59
14421812        1116                        194 rue de fontenay  ...    23      59
14421813        1117            102 Boulevard Raymond PoincarÃ©  ...    23      59
14421814        1118                       8 avenue George Sand  ...    23      59

[14278939 rows x 26 columns]

In [4]:
# Task
# Dropping of columns that we do not need from the dataframe
#
autolib_df.drop(['Unnamed: 0','Cars','Charge Slots','Charging Status','Displayed comment','ID','Geo point', 'Rental status', 'Scheduled at','Slots','year','month','minute'], axis = 1, inplace = True) 
  
autolib_df.head(5)

                      Address  Bluecar counter  ...  day  hour
0              24 Rue Vulpian                3  ...    1     0
1  8 Boulevard Richard Lenoir                0  ...    1     0
2        4 Rue Charles Bossut                3  ...    1     0
3   3 avenue Claude Vellefaux                4  ...    1     0
4      236 Boulevard Voltaire                1  ...    1     0

[5 rows x 13 columns]

In [5]:
# Task
# We shall rename columns that have spaces and use an underscore in place of the space
#
autolib_df.rename(columns = {'Bluecar counter' :'Bluecar_Counter', 'Utilib counter' : 'Utilib_Counter', 'Utilib 1.4 counter' : 'Utilib_14_Counter', 'Charge Slots' : 'Charge_Slots', 'Charging Status': 'Charging_Status', 'Displayed comment' : 'Displayed_Comment', 'Geo point' : 'Geo_Point', 'Postal code': 'Postal_Code', 'Public name' : 'Public_Name', 'Rental status' : 'Rental_Status', 'Scheduled at' : 'Scheduled_At', 'Station type' : 'Station_Type', 'Subscription status' : 'Subscription_Status'}, inplace = True)

autolib_df.head(5)

                      Address  Bluecar_Counter  ...  day  hour
0              24 Rue Vulpian                3  ...    1     0
1  8 Boulevard Richard Lenoir                0  ...    1     0
2        4 Rue Charles Bossut                3  ...    1     0
3   3 avenue Claude Vellefaux                4  ...    1     0
4      236 Boulevard Voltaire                1  ...    1     0

[5 rows x 13 columns]

In [6]:
# Task
# Accessing information about our dataset
#
autolib_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 14278939 entries, 0 to 14421814
Data columns (total 26 columns):
Unnamed: 0             int64
Address                object
Cars                   int64
Bluecar_Counter        int64
Utilib_Counter         int64
Utilib_14_Counter      int64
Charge_Slots           int64
Charging_Status        object
City                   object
Displayed_Comment      object
ID                     object
Kind                   object
Geo_Point              object
Postal_Code            int64
Public_Name            object
Rental_Status          object
Scheduled_At           object
Slots                  int64
Station_Type           object
Status                 object
Subscription_Status    object
year                   int64
month                  int64
day                    int64
hour                   int64
minute                 int64
dtypes: int64(13), object(13)
memory usage: 2.9+ GB

We shall make an assumption that the value in the counter fields is the number of cars in the given station. 

We shall create three new columns (bluecar_usage, utilib_usage, utilib_14_usage) A negative value will show that the cars have been picked up, a postive value will show that a car has been returned, a value of 0 will show that there was no activity (no picking or returning of vehicles)

In [0]:
#Creating column for bluecar usage
autolib_df['bluecar_usage'] = autolib_df.Bluecar_Counter.diff()

#Creating column for utilib usage
autolib_df['utilib_usage'] = autolib_df.Utilib_Counter.diff()

#Creating column for utilib 14 usage
autolib_df['utilib_14_usage'] = autolib_df.Utilib_14_Counter.diff()

In [7]:
# Previewing the dataframe
#
autolib_df.head(5)

                      Address  Bluecar_Counter  ...  utilib_usage  utilib_14_usage
0              24 Rue Vulpian                3  ...           NaN              NaN
1  8 Boulevard Richard Lenoir                0  ...          -1.0              0.0
2        4 Rue Charles Bossut                3  ...           0.0              0.0
3   3 avenue Claude Vellefaux                4  ...           0.0              0.0
4      236 Boulevard Voltaire                1  ...           0.0              0.0

[5 rows x 16 columns]

# Challenges - Bluecars

What is the most popular hour of the day for picking up a shared electric car in the city of Paris? (Specifically Bluecars)

In [10]:
# First find the unique values that appear in the 
# bluecar_usage so as to find the highest -ve value
# which is the highest pickup
#
autolib_df.bluecar_usage.unique()

array([nan, -3.,  3.,  1.,  0., -1.,  4., -2., -5.,  2.,  5.,  6., -4.,
       -6., -7.,  7.])

In [11]:
# Most popular hour for picking a car
#
autolib_df[(autolib_df.City == 'Paris') & (autolib_df.bluecar_usage == -7.0)].groupby('hour')['hour'].count().sort_values(ascending = False).head(1)

hour
2    705
Name: hour, dtype: int64

The most popular hour for picking a car is 2AM

In [12]:
# Most popular hour for returning cars
#
autolib_df[autolib_df.bluecar_usage == 7.].groupby('hour')['hour'].count().sort_values(ascending = False).head(1)

hour
4    1988
Name: hour, dtype: int64

The most popular hour for returning is 4AM

In [8]:
# Most popular station overall
#
autolib_df[(autolib_df.Kind == 'STATION') & (autolib_df.Status == 'ok')].groupby('Public_Name')[['Kind']].count().sort_values(by = 'Kind', ascending  = False).head(1)

                                   Kind
Public_Name
Alfortville/Charles de Gaulle/16  12761

In [11]:
# Most popular station
# at the most popular hour
#
autolib_df[(autolib_df.Kind == 'STATION') & (autolib_df.hour == 2)  & (autolib_df.Status == 'ok')].groupby('Public_Name').count()[['Kind']].sort_values(by = 'Kind', ascending = False).head(1)

                                  Kind
Public_Name
Alfortville/Charles de Gaulle/16   539

In [12]:
# What postal code is most popular when picking up Bluecars ?
#
autolib_df[autolib_df.bluecar_usage < 0].groupby('Postal_Code').count()[['bluecar_usage']].sort_values(by = 'bluecar_usage', ascending = False).head(1)

             bluecar_usage
Postal_Code
75015               287141

In [13]:
# What postal code is the most popular for picking up Bluecars at the most popular picking hour?
#
autolib_df[(autolib_df.bluecar_usage < 0) & (autolib_df.hour == 13)].groupby('Postal_Code').count()[['bluecar_usage']].sort_values(by = 'bluecar_usage', ascending = False).head(1)

             bluecar_usage
Postal_Code
75015                12512

In [14]:
# Does the most popular station belong to that postal code overall ?
#
autolib_df[autolib_df.Public_Name == 'Alfortville/Charles de Gaulle/16'][['Public_Name', 'Postal_Code']].head(1)

                          Public_Name  Postal_Code
487  Alfortville/Charles de Gaulle/16        94140

It does not

In [16]:
# Does the most popular station belong to that postal code at the most popular picking hour?
#
autolib_df[(autolib_df.Public_Name == 'Alfortville/Charles de Gaulle/16') & (autolib_df.hour == 2)][['Public_Name', 'Postal_Code']].head(1)

                             Public_Name  Postal_Code
135701  Alfortville/Charles de Gaulle/16        94140

It does not

# Challenges - Utilib

In [17]:
# First find the unique values that appear in the 
# utilib_usage so as to find the highest -ve value
# which is the highest pickup
#
autolib_df.utilib_usage.unique()

array([nan, -1.,  0.,  1.,  2., -2.,  3., -3.,  4., -4.])

In [20]:
# Most popular hour for picking a car
#
autolib_df[(autolib_df.City == 'Paris') & (autolib_df.utilib_usage.min() < 0 )].groupby('hour')['hour'].count().sort_values(ascending = False).head(1)

hour
12    329940
Name: hour, dtype: int64

In [21]:
# Most popular hour for returning cars
#
autolib_df[autolib_df.utilib_usage > 0 ].groupby('hour')['hour'].count().sort_values(ascending = False).head(1)

hour
5    38106
Name: hour, dtype: int64

In [22]:
# Most popular station overall
#
autolib_df[(autolib_df.Kind == 'STATION') & (autolib_df.Status == 'ok')].groupby('Public_Name')[['Kind']].count().sort_values(by = 'Kind', ascending  = False).head(1)

                                   Kind
Public_Name
Alfortville/Charles de Gaulle/16  12761

In [23]:
# Most popular popular station at the most popular hour
#
autolib_df[(autolib_df.Kind == 'STATION') & (autolib_df.hour == 19)  & (autolib_df.Status == 'ok')].groupby('Public_Name').count()[['Kind']].sort_values(by = 'Kind', ascending = False).head(1)

                                  Kind
Public_Name
Alfortville/Charles de Gaulle/16   540

In [24]:
# What postal code is most popular when picking up utilib ?
#
autolib_df[autolib_df.utilib_usage < 0].groupby('Postal_Code').count()[['utilib_usage']].sort_values(by = 'utilib_usage', ascending = False).head(1)

             utilib_usage
Postal_Code
75015               45004

In [25]:
# What postal code is the most popular for picking up utilib at the most popular picking hour?
#
autolib_df[(autolib_df.utilib_usage < 0) & (autolib_df.hour == 13)].groupby('Postal_Code').count()[['utilib_usage']].sort_values(by = 'utilib_usage', ascending = False).head(1)

             utilib_usage
Postal_Code
75015                1827

In [26]:
# Does the most popular station belong to that postal code overall ?
#
autolib_df[autolib_df.Public_Name == 'Alfortville/Charles de Gaulle/16'][['Public_Name', 'Postal_Code']].head(1)

                          Public_Name  Postal_Code
487  Alfortville/Charles de Gaulle/16        94140

In [27]:
# Does the most popular station belong to that postal code at the most popular picking hour?
#
autolib_df[(autolib_df.Public_Name == 'Alfortville/Charles de Gaulle/16') & (autolib_df.hour == 2)][['Public_Name', 'Postal_Code']].head(1)

                             Public_Name  Postal_Code
135701  Alfortville/Charles de Gaulle/16        94140

# Challenges - Utilib 1.4

In [28]:
# First find the unique values that appear in the 
# utilib_14_usage so as to find the highest -ve value
# which is the highest pickup
#
autolib_df.utilib_14_usage.unique()

array([nan,  0.,  1., -1.,  2., -2., -3.,  3., -4.,  4.])

In [29]:
# Most popular hour for picking a car
#
autolib_df[(autolib_df.City == 'Paris') & (autolib_df.utilib_14_usage.min() < 0 )].groupby('hour')['hour'].count().sort_values(ascending = False).head(1)

hour
12    329940
Name: hour, dtype: int64

In [30]:
# Most popular hour for returning cars
#
autolib_df[autolib_df.utilib_14_usage > 0 ].groupby('hour')['hour'].count().sort_values(ascending = False).head(1)

hour
5    70561
Name: hour, dtype: int64

In [31]:
# Most popular station overall
#
autolib_df[(autolib_df.Kind == 'STATION') & (autolib_df.Status == 'ok')].groupby('Public_Name')[['Kind']].count().sort_values(by = 'Kind', ascending  = False).head(1)

                                   Kind
Public_Name
Alfortville/Charles de Gaulle/16  12761

In [32]:
# Most popular popular station at the most popular hour
#
autolib_df[(autolib_df.Kind == 'STATION') & (autolib_df.hour == 19)  & (autolib_df.Status == 'ok')].groupby('Public_Name').count()[['Kind']].sort_values(by = 'Kind', ascending = False).head(1)

                                  Kind
Public_Name
Alfortville/Charles de Gaulle/16   540

In [33]:
# What postal code is most popular when picking up utilib ?
#
autolib_df[autolib_df.utilib_14_usage < 0].groupby('Postal_Code').count()[['utilib_14_usage']].sort_values(by = 'utilib_14_usage', ascending = False).head(1)

             utilib_14_usage
Postal_Code
75015                  73083

In [35]:
# What postal code is the most popular for picking up utilib at the most popular picking hour?
#
autolib_df[(autolib_df.utilib_14_usage < 0) & (autolib_df.hour == 13)].groupby('Postal_Code').count()[['utilib_14_usage']].sort_values(by = 'utilib_14_usage', ascending = False).head(1)

             utilib_14_usage
Postal_Code
75015                   3116

In [36]:
# Does the most popular station belong to that postal code overall ?
#
autolib_df[autolib_df.Public_Name == 'Alfortville/Charles de Gaulle/16'][['Public_Name', 'Postal_Code']].head(1)

                          Public_Name  Postal_Code
487  Alfortville/Charles de Gaulle/16        94140

In [37]:
# Does the most popular station belong to that postal code at the most popular picking hour?
#
autolib_df[(autolib_df.Public_Name == 'Alfortville/Charles de Gaulle/16') & (autolib_df.hour == 2)][['Public_Name', 'Postal_Code']].head(1)

                             Public_Name  Postal_Code
135701  Alfortville/Charles de Gaulle/16        94140